{% extends "base.twig" %}

{% block content %}
	<div class="l-page">
		<div class="l-container">
			<article class="post-type-{{post.post_type}} page" id="post-{{post.ID}}">
				<section class="page_content">
					<h1 class="page_title">{{post.title}}</h1>
					<p class="page_author">
						<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
					</p>
					<div class="page_typography">
						{{post.content}}
					</div>
				</section>
				<section class="page_comments comments">
					<div class="comments_form">
						<h3 class="h2">Comments</h3>
						{{ comment_form }}
					</div>
					<div class="comments_responses">
						{% for cmt in post.get_comments() %}
							{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}
					</div>
				</section>
			</article>
		</div>
	</div>
{% endblock %}
