<header class="header">
  <div class="l-container">

    {# Sitename #}
    <h1 class="HDRLogo" role="banner">
      <a class="HDRLogo-link" href="/" rel="home">{{site.name}}</a>
    </h1>


    {# Main nmenu #}


    {% if menu.get_items %}

      <nav class="menu" role="navigation">
        <ul class="menu_list">
          {% for item in menu.get_items %}
            <li class="menu_list_item {{item.classes | join(' ')}}">
              <a class="menu_list_item" href="{{item.get_link}}">{{item.title}}</a>

              {% if item.get_children %}
                <ul class="menu_list-sub">
                {% for child in item.get_children %}
                  <li class="menu_list-sub">
                    <a class="Nav-link" href="{{child.get_link}}">{{child.title}}</a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}

            </li>
          {% endfor %}
        </ul>
      </nav>

    {% endif %}
  </div>
</header>
